POSTGRES_PASSWORD=postgres_password
POSTGRES_USER=postgres_user
POSTGRES_DB=keepmealive_db
POSTGRES_ADDR=postgresdb
POSTGRES_PORT=5432
MASTER_KEY=your_master_key
SMTP_PASS=smtp_pass
SMTP_USER=smtp_user
SMTP_HOST=smtp_host
SMTP_PORT=smtp_port
DEBUG=True